<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img class="brand-logo" src="/assets/logo.png" alt="logo" aria-hidden="true" />
      <span class="example-spacer"></span>
      @if (loggedInUser) {
        <img [src]="user?.photoUrl" alt="Avatar" width="40" height="40">
        &nbsp;
        <p>{{user?.email}}</p>
        &nbsp;
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      } @else {
        <app-google-signin (loginWithGoogle)="googleSignin($event)"></app-google-signin>
      }
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          @for (link of links; track link) {
            <a mat-list-item [routerLink]="link.path">{{link.label}}</a>
          }
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>